{% if active_brqs %}
    <div class="container-fluid mt-3">
        <h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" fill="currentColor" class="bi bi-sticky text-info me-1" viewBox="0 0 16 16">
                  <path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V8H9.5A1.5 1.5 0 0 0 8 9.5V14H2.5a.5.5 0 0 1-.5-.5v-11zm7 11.293V9.5a.5.5 0 0 1 .5-.5h4.293L9 13.793z"/>
            </svg>
            Active BRQs: {{ active_brqs|length }}
        </h2>
    </div>
    <div class="container-fluid table-responsive">
        <table class="table table-dark table-striped table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Iteration</th>
                <th>PrioIndex</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for brq in active_brqs %}
                    <tr>
                        <td>{{ brq.id }}</td>
                        <td>{{ brq.title }}</td>
                        <td>{{ brq.iteration }}</td>
                        <td>{{ brq.prio_index }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}