{% extends "base.html" %}
{% block content %}

    {% with prio1_bugs=own_bugs_1prio, prio2_bugs=own_bugs_2prio %}
        {% include 'bugs/1_2_prio_bugs.html' %}
    {% endwith %}

    {% with overdue_tasks=own_overdue_tasks %}
        {% include 'tasks/overdue_tasks.html' %}
    {% endwith %}

    {% with overdue_crs=own_overdue_crs %}
        {% include 'crs/overdue_crs.html' %}
    {% endwith %}

    {% with new_tasks=own_new_tasks %}
        {% include 'tasks/new_tasks.html' %}
    {% endwith %}

    {% with new_crs=own_new_crs %}
        {% include 'crs/new_crs.html' %}
    {% endwith %}

    {% with new_brqs=own_new_brqs %}
        {% include 'brqs/new_brqs.html' %}
    {% endwith %}

{% endblock %}