{% extends "base.html" %}
{% block content %}

    <div class="container-fluid justify-content-center my-5 px-4 text-light">

        <div class="container-fluid mt-3">
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" fill="currentColor" class="bi bi-bug text-danger me-1" viewBox="0 0 16 16">
                    <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A4.979 4.979 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A4.985 4.985 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623zM4 7v4a4 4 0 0 0 3.5 3.97V7H4zm4.5 0v7.97A4 4 0 0 0 12 11V7H8.5zM12 6a3.989 3.989 0 0 0-1.334-2.982A3.983 3.983 0 0 0 8 2a3.983 3.983 0 0 0-2.667 1.018A3.989 3.989 0 0 0 4 6h8z"/>
                </svg>
                {% if my_bugs_1prio or my_bugs_2prio %}
                    Stoppers: {{ my_bugs_1prio|length }}, Bugs 2 prio: {{ my_bugs_2prio|length }}
                {% else %}
                    You're KRASAVCHIK! There're no bugs now!
                {% endif %}
            </h2>
        </div>
        {% if my_bugs_1prio %}
            <div class="container-fluid table-responsive mb-2">
                <table class="table table-dark table-striped table-hover">
                    {% if my_bugs_2prio %}
                        <caption class="caption-top">Stoppers bugs:</caption>
                    {% endif %}
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Priority</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for bug in my_bugs_1prio %}
                            <tr>
                                <td class="text-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" fill="currentColor" class="bi bi-exclamation-square me-1" viewBox="0 0 16 16">
                                      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                    </svg>
                                    {{ bug.id }}
                                </td>
                                <td class="text-danger">{{ bug.title }}</td>
                                <td class="text-danger">{{ bug.priority }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% if my_bugs_2prio %}
            <div class="container-fluid table-responsive">
                <table class="table table-dark table-striped table-hover">
                    {% if my_bugs_1prio %}
                        <caption class="caption-top">Second prio bugs:</caption>
                    {% endif %}
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Priority</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for bug in my_bugs_2prio %}
                            <tr>
                                <td>{{ bug.id }}</td>
                                <td>{{ bug.title }}</td>
                                <td>{{ bug.priority }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}


        {% if my_overdue_tasks %}
             <div class="container-fluid mt-3">
                <h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" fill="currentColor" class="bi bi-list-task text-warning me-1" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
                        <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
                        <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor" class="bi bi-exclamation-square text-warning" viewBox="0 0 16 16">
                      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>
                    Overdue Tasks: {{ my_overdue_tasks|length }}
                </h2>
            </div>
            <div class="container-fluid table-responsive">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Iteration</th>
                        <th>Resolve Date</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for task in my_overdue_tasks %}
                            <tr>
                                <td>{{ task.id }}</td>
                                <td>{{ task.title }}</td>
                                <td>{{ task.iteration }}</td>
                                <td>
                                    {% if task.resolve_ready_date|compare_date_with_today %}
                                        <span class="text-danger">{{ task.resolve_ready_date }}</span>
                                    {% else %}
                                        {{ task.resolve_ready_date }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}


        {% if my_overdue_crs %}
             <div class="container-fluid mt-3">
                <h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" fill="currentColor" class="bi bi-megaphone text-purple me-1" viewBox="0 0 16 16">
                        <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor" class="bi bi-exclamation-square text-warning" viewBox="0 0 16 16">
                      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>
                    Overdue CRs: {{ my_overdue_crs|length }}
                </h2>
            </div>
            <div class="container-fluid table-responsive">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Iteration</th>
                        <th>Ready Date</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for cr in my_overdue_crs %}
                            <tr>
                                <td>{{ cr.id }}</td>
                                <td>{{ cr.title }}</td>
                                <td>{{ cr.iteration }}</td>
                                <td>
                                    {% if cr.estimation_ready_date|compare_date_with_today %}
                                        <span class="text-danger">{{ cr.estimation_ready_date }}</span>
                                    {% else %}
                                        {{ cr.estimation_ready_date }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}


        {% if my_new_tasks %}
            <div class="container-fluid mt-3">
                <h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" fill="currentColor" class="bi bi-list-task text-warning me-1" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
                        <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
                        <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
                    </svg>
                    New Tasks: {{ my_new_tasks|length }}
                </h2>
            </div>
            <div class="container-fluid table-responsive">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Iteration</th>
                        <th>Analysis Expected Date</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for task in my_new_tasks %}
                            <tr>
                                <td>{{ task.id }}</td>
                                <td>{{ task.title }}</td>
                                <td>{{ task.iteration }}</td>
                                <td>
                                    {% if task.analysis_expected_date|compare_date_with_today %}
                                        <span class="text-danger">{{ task.analysis_expected_date }}</span>
                                    {% else %}
                                        {{ task.analysis_expected_date }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}


        {% if my_new_crs %}
            <div class="container-fluid mt-3">
                <h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" fill="currentColor" class="bi bi-megaphone text-purple me-1" viewBox="0 0 16 16">
                        <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/>
                    </svg>
                    New CRs: {{ my_new_crs|length }}
                </h2>
            </div>
            <div class="container-fluid table-responsive">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Iteration</th>
                        <th>Estimation Expected Date</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for cr in my_new_crs %}
                            <tr>
                                <td>{{ cr.id }}</td>
                                <td>{{ cr.title }}</td>
                                <td>{{ cr.iteration }}</td>
                                <td>
                                    {% if cr.estimation_expected_date|compare_date_with_today %}
                                        <span class="text-danger">{{ cr.estimation_expected_date }}</span>
                                    {% else %}
                                        {{ cr.estimation_expected_date }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}


        {% if my_new_brqs %}
            <div class="container-fluid mt-3">
                <h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" fill="currentColor" class="bi bi-sticky text-info me-1" viewBox="0 0 16 16">
                          <path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V8H9.5A1.5 1.5 0 0 0 8 9.5V14H2.5a.5.5 0 0 1-.5-.5v-11zm7 11.293V9.5a.5.5 0 0 1 .5-.5h4.293L9 13.793z"/>
                    </svg>
                    New BRQs: {{ my_new_brqs|length }}
                </h2>
            </div>
            <div class="container-fluid table-responsive">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Iteration</th>
                        <th>PrioIndex</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for brq in my_new_brqs %}
                            <tr>
                                <td>{{ brq.id }}</td>
                                <td>{{ brq.title }}</td>
                                <td>{{ brq.iteration }}</td>
                                <td>{{ brq.prio_index }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    </div>


{% endblock %}